.Select__Container {
    width: 15rem;
    /* background-color: red; */
}

.Select__Button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px 5px 0 0 ;
    padding: 0.5rem 2rem 0.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Select__Button__Caret {
    min-width: 1.5rem;
}

.Select__Dropdown {
    background-color: white;
    border: 1px solid black;
    border-radius:  0 0 5px 5px;
    z-index: 1;
}

.Select__Option {
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;

    &:hover {
        background-color: blue;
        color: white;
    }
}
.Select__OptionSelected {
    background-color: lightblue;
}

.Select__Button__Placeholder {
    font-family: sans-serif;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    padding: 0;
    flex-wrap: wrap;
}

.Select__Button__Placeholder__Tag {
    background-color: lightgreen;
    font-size: 0.75rem;
    color: green;
    border: 1px solid green;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    padding: 0.25rem;
}

.Select__Button__Placeholder__Tag__Close {
    margin-left: 0.5rem;
    width: 0.75rem;
}